{# src/AppBundle/Resources/views/Meat/Api/widget.html.twig #}
{% if detectedBrowser %}
    {% set clientVersionShort = detectedBrowser.clientVersion|split('.')[0] %}
    {% set stableVersionShort = detectedBrowser.stableVersion|split('.')[0] %}

    {% if detectedBrowser.vendor %}
        {{ 'message_standard_extended'|trans({
            '%browser%':            detectedBrowser.browser,
            '%vendor%':             detectedBrowser.vendor,
            '%osFamily%':           detectedBrowser.osFamily,
            '%clientVersion%':      detectedBrowser.clientVersion,
            '%clientVersionShort%': clientVersionShort})
        }}
    {% else %}
        {{ 'message_standard'|trans({
            '%browser%':            detectedBrowser.browser,
            '%osFamily%':           detectedBrowser.osFamily,
            '%clientVersion%':      detectedBrowser.clientVersion,
            '%clientVersionShort%': clientVersionShort})
        }}
    {% endif %}

    <span title="{{ 'tooltip_wrong_browser'|trans }}">[!]</span>

    <br>

    {% if detectedBrowser.userWarning %}
        {{ detectedBrowser.userWarning|trans }}
        <br>
    {% else %}
        {% if detectedBrowser.isOutdated %}
            {{ 'message_outdated'|trans({
                '%stableVersionShort%': stableVersionShort,
                '%stableVersion%': detectedBrowser.stableVersion})
            }}

            <br>

            <a href="{{ detectedBrowser.stableVersionLink }}">{{ detectedBrowser.stableVersionLink }}</a>

            <span title="{{ 'tooltip_uninstall_browser'|trans }}">[!]</span>
        {% else %}
            {{ 'message_uptodate'|trans }}
        {% endif %}
        <br>
        {% if detectedBrowser.browser == "Internet Explorer" %}
            {{ 'message_explorer'|trans }}
            <br>
        {% endif %}
    {% endif %}
{% else %}
    {{ userError|trans }}
    <br>
{% endif %}
