{# src/AppBundle/Resources/views/Meat/Api/widget.html.twig #}
{% if browserDetected %}
    {% set clientVersionShort = browserDetected.clientVersion|split('.')[0] %}

    <section class="inner {{ browserDetected.browser|lower|replace({ ' ': "_" }) }}">
        <h2>{{ browserDetected.browser }}</h2>
        <h3>{{ browserDetected.vendor }}</h3>
        <ul class="innerBrowserInfo">
            <li><p>{{ 'widget.version'|trans }}: {{ clientVersionShort }}</p></li>
            <li><span class="icon {{ browserDetected.osFamily|lower|replace({ ' ': "_" }) }}"></span></li>
            <li><p>{{ browserDetected.osFamily }}</p></li>
        </ul>
        <p class="update">
            {% if isOutdated %}
                {{ 'widget.message.outdated'|trans }}
            {% elseif deprecated %}
                {{ 'widget.message.deprecated'|trans }}
            {% endif %}
        </p>
        <a href="{{ url('index', {}, true) }}" class="updateButton" target="_blank">
            {% if isOutdated %}
                {{ 'widget.button.outdated'|trans }}
            {% elseif deprecated %}
                {{ 'widget.button.deprecated'|trans }}
            {% endif %}
        </a>
        <p class="forget">
            {{ 'widget.forget'|trans({
                '%opening_tag%': '<span id="forgetBrasstWidget">',
                '%closing_tag%': '</span>'
            })|raw }}
        </p>
        <span id="closeBrasstWidget" class="icon" title="{{ 'widget.close'|trans }}"></span>
    </section>
{% endif %}
