{# src/AppBundle/Resources/views/Meat/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block meta %}
    <title>{{ 'meta.title'|trans }}</title>
    {{ parent() }}
    <meta name="Description" content="{{ 'meta.description'|trans }}">
    {# Open graph #}
    <meta property="og:title" content="{{ 'meta.title'|trans }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url('index', { '_locale': app.request.locale }) }}">
    <meta property="og:image" content="{{ asset('bundles/app/Meat/images/logo_social.jpg', absolute=true) }}" />
    <meta property="og:description" content="{{ 'meta.description'|trans }}">
    <meta property="og:locale" content="{{ app.request.locale }}">
    {# Locale reference #}
    <link rel="canonical" href="{{ url('index_default') }}" />
    <link rel="alternate" href="{{ url('index', { '_locale': "ua" }) }}" hreflang="uk-ua" />
    <link rel="alternate" href="{{ url('index', { '_locale': "en" }) }}" hreflang="en-us" />
    <link rel="alternate" href="{{ url('index', { '_locale': "ru" }) }}" hreflang="ru-ru" />
    <link rel="alternate" href="{{ url('index', { '_locale': "en" }) }}" hreflang="x-default" />
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext">
    {% stylesheets
        'bundles/app/Meat/css/stabilizer.css'
        'bundles/app/Meat/css/settings.css'
        'bundles/app/Meat/css/common.css'
        'bundles/app/Meat/css/main.css' output='bundles/app/Meat/css/compiled/compiled.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="page">
        <header id="header">
            {% include 'AppBundle:Meat\\Common:header.html.twig' %}
        </header>

        {% block states %}
            <div id="content">
                <div id="particles">
                    <canvas id="connection"></canvas>
                </div>
                <a href="http://www.csswinner.com/details/brasst/8843" id="nominee" target="_blank" title="Br.Asst. - vote for us on CSSwinner"></a>

                {% render controller('AppBundle:Meat\\State:home') %}
                {% render controller('AppBundle:Meat\\State:aboutBrasst') %}
                {% render controller('AppBundle:Meat\\State:browsers', { 'browsers': browsers }) %}
                {% render controller('AppBundle:Meat\\State:brasstApi') %}

            </div>
        {% endblock %}

        <footer id="footer">
            {% include 'AppBundle:Meat\\Common:footer.html.twig' %}
        </footer>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js" data-main="{{ asset('bundles/app/Meat/js/boot.js') }}"></script>
    {# Google Analytics #}
    {% include 'AppBundle:Meat\\Tracking:googleAnalytics.html.twig' %}
    {# Yandex Metrika #}
    {% include 'AppBundle:Meat\\Tracking:yandexMetrika.html.twig' %}
{% endblock %}
