{# src/AppBundle/Resources/views/Meat/State/brasst_api.html.twig #}
<div id="api" class="section">
    <section class="inner">
        <h1>{{ 'content_api.title'|trans|raw }}</h1>
        <p>{{ 'content_api.text'|trans }}</p>
        <div id="apiType">
            <div class="circle widget">
                <span class="icon"></span>
                <p>{{ 'content_api.guide.html.title_short'|trans }}</p>
            </div>
            <div class="draggerZone bs">
                <span class="dragger" title="{{ 'content_api.tooltip'|trans }}"></span>
            </div>
            <div class="circle json">
                <span class="icon"></span>
                <p>{{ 'content_api.guide.json.title_short'|trans }}</p>
            </div>
            <p class="tooltip">{{ 'tooltip.api_drag'|trans|raw }}</p>
        </div>
        <div class="help">
            <p>{{ 'content_api.guide.additional'|trans }}:</p>
            <a href="https://github.com/CheersUnlimited/BrAsst/apiExamples" class="icon" title="{{ 'content_api.github'|trans }}" target="_blank"></a>
        </div>
    </section>
    <div class="apInfoOverlay widget bs">
        <span class="icon close"></span>
        <div class="info">
            <section class="inner">
                <h2>{{ 'content_api.guide.html.title'|trans|raw }}</h2>
                <p>
                    {{ 'content_api.guide.html.text'|trans({
                        '%jsLink%': '<a href="cheers_brasst_api.js">JavaScript</a>'})|raw
                    }}
                </p>
                <ul>
                    <li data-number="1">
                        <p>{{ 'content_api.guide.html.step.1'|trans|raw }}</p>
                        <code class="full">
                            <p>{{ '<div id="brasst_widget"></div>'|escape }}</p>
                        </code>
                    </li>
                    <li data-number="2">
                        <p>{{ 'content_api.guide.html.step.2'|trans|raw }}:</p>
                        <code class="full">
                            <p>{{ '<script src="brasst_api.js"></script>'|escape }}</p>
                            <p>{{ ('<script>var brasst = new Brasst({url: "https://brasst.com.ua/api/' ~ app.request.getLocale() ~ '"});</script>')|escape }}</p>
                        </code>
                    </li>
                    <li data-number="3">
                        <p>{{ 'content_api.guide.html.step.3'|trans }}:</p>
                        <code class="full">
                            <p>{{ ('var brasst = new Brasst({url: "https://brasst.com.ua/api/' ~ app.request.getLocale() ~ '"});')|escape }}</p>
                        </code>
                    </li>
                </ul>
                <p class="done">{{ 'content_api.guide.html.step.final'|trans }}</p>
            </section>
        </div>
    </div>
    <div class="apInfoOverlay json bs">
        <span class="icon close"></span>
        <div class="info">
            <section class="inner">
                <h2>{{ 'content_api.guide.json.title'|trans|raw }}</h2>
                <p>{{ 'content_api.guide.json.text'|trans }}</p>
                <ul>
                    <li data-number="1">
                        <p>{{ 'content_api.guide.json.step.1'|trans|raw }}:</p>
                        <code class="full">
                            <p>{{ 'https://brasst.com.ua/api/' ~ app.request.getLocale() ~ '?type=json' }}</p>
                        </code>
                    </li>
                    <li data-number="2">
                        <p>{{ 'content_api.guide.json.step.2'|trans }}:</p>
                        <code class="full">
                            <ul>
                                <li><span>{</span></li>
                                <li><span>"browser":</span>           <span>"Some browser",</span></li>
                                <li><span>"vendor":</span>            <span>"Some vendor",</span></li>
                                <li><span>"osFamily":</span>          <span>"Some system",</span></li>
                                <li><span>"stableVersion":</span>     <span>"42.0",</span></li>
                                <li><span>"clientVersion":</span>     <span>"24.0",</span></li>
                                <li><span>"isOutdated":</span>        <span>true,</span></li>
                                <li><span>"stableVersionLink":</span> <span>"https:\/\/www.somevendor.org\/somebrowser",</span></li>
                                <li><span>"userWarning":</span>       <span>null</span></li>
                                <li><span>}</span></li>
                            </ul>
                        </code>
                    </li>
                </ul>
                <p class="done">{{ 'content_api.guide.json.step.final'|trans }}</p>
            </section>
        </div>
    </div>
</div>