{# src/AppBundle/Resources/views/Meat/State/browsers.html.twig #}
<div id="browsers" class="section">
    <section class="inner">
        <h1>{{ 'browser.title'|trans }}</h1>
        <ul>
            {% for browser in browsers %}
                <li class="browser {{ browser.name }} bs" draggable="true">
                    <span class="icon"></span>
                </li>
            {% endfor %}
        </ul>
        <div id="dropZone">
            <ul>
                {% for browser in browsers %}
                    {% set browserVersion = browser.browserVersion[0] %}
                    <li class="browserInfo {{ browser.name }}">
                        <h2>{{ browser.getUnpackedVendor }}</h2>
                        <h3>{{ browser.getUnpackedName }}</h3>
                        <p class="version">{{ 'browser.stable_release'|trans }}: <span class="sSize">{{ browserVersion.version }}</span></p>
                        <div class="center">
                            <ul>
                                {% for os in browser.getSupportedSystems %}
                                    <li><span class="icon {{ os|lower }}"></span></li>
                                {% endfor %}
                            </ul>
                            <div class="button"><a href="{{ browser.link }}" target="_blank">{{ 'browser.button_download'|trans }}</a></div>
                            <div class="help">
                                <span class="icon"></span>
                                <div class="tooltip">
                                    <p>{{ 'tooltip.uninstall_browser'|trans }}</p>
                                </div>
                            </div>
                        </div>
                        <p>{{ 'browser.market_share.preffered'|trans }}</p>
                        <p class="percent">{{ browser.marketShare + 0 }}%</p>
                        <p>{{ 'browser.market_share.users'|trans }}</p>
                    </li>
                {% endfor %}
                <li class="browserInfo default active">
                    <p>{{ 'browser.tooltip'|trans }}</p>
                    <span class="icon"></span>
                </li>
            </ul>
            <span class="icon close"></span>
        </div>
    </section>
</div>