{# src/AppBundle/Resources/views/Meat/State/home.html.twig #}
<div id="main" class="section active">
    <section class="inner">
        <h1>{{ 'content_slogan.headline'|trans|raw }}</h1>
        <h2>{{ 'content_slogan.subheadline'|trans }}</h2>

        {% include 'AppBundle:Meat\\Common:widget.html.twig' with {
            'userError': userError,
            'browserDetected': browserDetected
        } only %}

        <div id="benefits">
            <ul>
                <li><a href="#!about" class="toPage"><span class="sSize">{{ 'state.aboutBrasst'|trans }}</span></a></li>
                <li><a href="#!browsers" class="toPage"><span class="sSize">{{ 'state.browsers'|trans }}</span></a></li>
                <li><a href="#!api" class="toPage"><span class="sSize">{{ 'state.brasstApi'|trans }}</span></a></li>
            </ul>
        </div>
    </section>
</div>
